{{>precontent}}

<header>
    Trackthis Postback
</header>

<main class="centered">
    <div class="content">
        <h2>Users</h2>
        <span>Select a user to modify or create a new one</span>
        <ul>
            <li><i class="material-icons">edit</i>Root</li>
            <li>Robin Bron</li>
            <li>Gaby Jonkman</li>
        </ul>
    </div>
</main>

{{>postcontent}}
