{{>precontent}}

<header>
    Trackthis Postback
</header>

<style>

</style>

<main class="centered">
    <div class="content">
        <h2>Users</h2>
        <span>Select a user to modify or create a new one</span>

        <div>
            <a href="#!">
                <i class="material-icons">edit</i>
                Root
            </a>
        </div>
        <div>
            <a href="#!">
                <i class="material-icons">edit</i>
                Robin Bron
            </a>
        </div>
        <div>
            <a href="#!">
                <i class="material-icons">edit</i>
                Dariusz Dusza
            </a>
        </div>

    </div>
</main>

{{>postcontent}}
