{{>precontent}}
{{>header this}}

<link rel="stylesheet" href="https://cdn.rawgit.com/ghinda/css-toggle-switch/4.1.0/dist/toggle-switch-rem.css">

<main class="centered">
    <div class="content">
        <h2>Users</h2>
        <p>Select a user to modify or create a new one</p>

        <div class="border paragraph valign btn" rv-on-click="action.newAccountDialog">
            <i class="material-icons">add</i>
            <span>Create a new account</span>
        </div>
        <dialog>
            <form id="accountform" onsubmit="return false;">

                <div class="form-input">
                    <input type="text" id="username" required pattern="[ a-zA-Z0-9\-_]{3,}" title="Minimum of 3 characters (a-z, 0-9, -, _)" />
                    <label for="username">Username</label>
                </div>

                <div class="form-input">
                    <input type="password" id="password" pattern=".{8,}" required title="Minimum of 8 characters" oninput="inputmatch(this,'password-repeat');" />
                    <label for="password">Password</label>
                </div>

                <div class="form-input">
                    <input type="password" id="password-repeat" pattern=".{8,}" required title="Must match the above password" />
                    <label for="password-repeat">Repeat password</label>
                </div>

                <div class="form-input">
                    <label class="switch-light switch-ios" onclick="">
                        <input type="checkbox" id="isAdmin" rv-value="form.account.isAdmin" />
                        <span>
                            <span>Disabled</span>
                            <span>Enabled</span>
                            <a></a>
                        </span>
                    </label>
                    <label>Admin permissions</label>
                </div>

                <div class="form-actions">
                    <button>Create</button>
                </div>
            </form>

            <i class="material-icons close">close</i>
        </dialog>

        <div class="border paragraph valign padded" rv-each-account="api.accounts">
            <i class="material-icons" rv-on-click="account.delete">delete</i>
            <dialog>
                <h2>Delete "[[ account.username ]]"</h2>
                <p>Are you sure you want to delete this account and all it's API tokens?</p>
                <div>
                    <button class="border close">Cancel</button>
                    <button class="border" rv-on-click="account.delete">Yes, I'm sure</button>
                </div>
            </dialog>
            <i class="material-icons" rv-on-click="account.edit">edit</i>
            <span>[[ account.username ]]</span>
        </div>

    </div>
</main>

{{>postcontent}}
