{{>precontent}}

<ul>
    <li class="card">
        <!--<img src="/path/to/image.png" alt="">-->
        <h2>
            <a href="https://google.com/">Google search</a>
        </h2>
        <p>The most common used search engine in the world.</p>
        <small>By Google</small>
    </li>
</ul>

{{>postcontent}}
