{{>precontent}}

<main class="centered">
    <form id="loginform" class="padded loner" onsubmit="return false;">

        <div class="form-input">
            <input type="text" id="username" />
            <label for="username">Username</label>
        </div>

        <div class="form-input">
            <input type="password" id="password" />
            <label for="password">Password</label>
        </div>

        <div class="form-actions">
            <button>Log in</button>
        </div>
    </form>
</main>

{{>postcontent}}
