{{>precontent}}
{{>header this}}

<dialog id="tokenDialog">
    <h2>Token</h2>
    <p>Please store the following API token somewhere secure.</p>
    {{#unless __settings.token}}<p>This is the <b>only</b> time you will be able to see the token</p>{{/unless}}
    <pre>[[ token.token ]]</pre>
    <button rv-href="token.id | prepend '/tokens/' | append '?token={{__token}}'">OK</button>
</dialog>

<div class="centered">

    <form class="content" onsubmit="return false;" id="tokenGeneric">
        <h3>Generic settings</h3>

        {{#if __settings.admin}}
            <div class="form-input">
                <input type="text" id="username" rv-value="token.account" {{#if edit}}disabled{{/if}} />
                <label for="username">Username</label>
            </div>
        {{/if}}

        <div class="form-input">
            <input type="text" id="description" required pattern=".{4,}" rv-value="token.description" title="Minimum length: 4 characters" />
            <label for="username">Description</label>
        </div>

        <div class="form-input {{#unless __settings.admin}}disabled{{/unless}}">
            <input type="datetime-local" id="tokenExpires" rv-value="token.expires | datetime" {{#unless __settings.admin}}disabled{{/unless}} />
            <label for="username">Expires*</label>
        </div>

        <small>
            * Blank = no expiry date
        </small>

        <div class="form-actions">
            <button rv-on-click="form.savetoken" class="valign"><i class="material-icons">save</i><span>Save</span></button>
            {{#if __settings.admin}}
                {{#if edit}}
                    <button class="valign show-modal"><i class="material-icons">delete</i><span>Delete</span></button>
                    <dialog>
                        <h2>Delete this API token?</h2>
                        <p>Deleting this API token prevents anyone from using this token ever again.</p>
                        <button class="close">Cancel</button>
                        <button rv-on-click="form.deltoken">Delete</button>
                    </dialog>
                {{/if}}
            {{/if}}
        </div>
    </form>

</div>

{{#if edit}}
    <div class="centered">
        <div class="content" onsubmit="return false;">
            <h3>Mapping</h3>

            {{#if __settings.admin}}
                <button class="valign" rv-on-click="form.addrule">
                    <i class="material-icons">add</i>
                    <span>New rule</span>
                </button>
                <br rv-unless="form.rules | length" />
            {{/if}}

            <div class="centered" rv-unless="form.rules | length">
                The mapping for this API key has not been set up yet
            </div>

            <form class="form-horizontal" rv-each-rule="form.rules">

                <div class="form-input {{#unless __settings.admin}}disabled{{/unless}}" >
                    <input type="text" rv-id="%rule% | prepend 'remote[' | append ']'" rv-value="rule.remote" {{#unless __settings.admin}}disabled{{/unless}} />
                    <label rv-for="%rule% | prepend 'remote[' | append ']'">Remote</label>
                </div>

                <div class="form-input {{#unless __settings.admin}}disabled{{/unless}}" >
                    <input type="text" rv-id="%rule% | prepend 'tracker[' | append ']'" rv-value="rule.tracker" {{#unless __settings.admin}}disabled{{/unless}} />
                    <label rv-for="%rule% | prepend 'tracker[' | append ']'">Tracker</label>
                </div>

                <div class="form-input {{#unless __settings.admin}}disabled{{/unless}}" >
                    <input type="text" rv-id="%rule% | prepend 'translate[' | append ']'" rv-value="rule.translate" {{#unless __settings.admin}}disabled{{/unless}} />
                    <label rv-for="%rule% | prepend 'translate[' | append ']'">Translate</label>
                </div>

                {{#if __settings.admin}}
                    <div class="form-actions">
                        <button value="delete" class="valign" rv-on-click="form.delrule"><i class="material-icons">delete</i><span>Delete</span></button>
                        <dialog>
                            <h2>Delete mapping rule</h2>
                            <p>Deleting this mapping rule might break imports.</p>
                            <p>Are you sure you want to delete it?</p>
                            <button class="close">Cancel</button>
                            <button value="confirm" rv-on-click="form.delrule">Delete</button>
                        </dialog>
                        <button class="valign" rv-on-click="form.saverule"><i class="material-icons">save</i><span>Save</span></button>
                    </div>
                {{/if}}

            </form>

        </div>
    </div>
{{/if}}

<script>var token={{{json token}}}||{};</script>
{{>postcontent}}
