@import url('https://fonts.googleapis.com/css?family=Asap:400,700');

@color-back     : #FFF;
@color-front    : #000;
@color-disabled : average( @color-front   , @color-back );
@color-active   : average( @color-disabled, @color-back );
@color-focus    : average( @color-active  , @color-back );

/* Basics */
* {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  box-sizing         : border-box;
  font-family        : "Asap", sans-serif;
}
html, body {
  margin  : 0;
  padding : 0;
}
html {
  background : @color-back;
  color      : @color-front;
  font-size  : calc(0.8rem + 0.5vw);
}
.border {
  border        : 2px solid @color-front;
  border-radius : 0.25rem;
}
.padded {
  padding : 1rem;
}
.loner {
  margin : 1rem;
}

/* Main layouts */
.centered {
  text-align : center;
}
main.centered > * {
  display    : inline-block;
  text-align : initial;
}

/* Form stuff */
textarea:focus, input:focus, button:focus {
  outline : none;
}
.form-input {
  .border;
  position      : relative;
  padding       : 0.5rem;
  margin        : 1rem;

  > label {
    position         : absolute;
    top              : -1em;
    left             : 0.5em;
    padding          : 0.3em;
    background-color : white;
  }

  > input {
    border    : none;
    font-size : 0.8em;
    min-width : 15em;
  }
}

.form-actions {
  position : relative;
  padding  : 0;
  margin   : 1rem;

  > button {
    .border;
    background    : @color-back;
    cursor        : pointer;
    display       : block;
    font-size     : 0.8em;
    padding       : 0.5rem;
    width         : 100%;

    &:focus, &:hover {
      background : @color-focus;
    }
    &:active {
      background : @color-active;
    }
    &:disabled {
      border-color : @color-disabled;
      color        : @color-disabled;
    }
  }
}

/* header */
header {
  border-bottom : 2px solid @color-front;
  padding       : 0.5rem;
}

/* content */
.content {
  padding : 1rem;
  > * + p, p + * { /* lobotomized owl for P and direct siblings */
    margin-top : 1rem;
  }
}
hr {
  border        : none;
  border-bottom : 6px double @color-front;
}
table {
  .border;
  border-spacing : 0;
  width          : 100%;
  tr + tr {
    border-top : 1px solid @color-front;
  }
}
