        <script type="application/javascript" src="/assets/common/dialog.js"></script>
        <script type="application/javascript" src="/assets/common/inputmatch.js"></script>
        <script type="application/javascript" src="/assets/page/{{__pageName}}.js"></script>
    </body>
</html>
