        <script type="application/javascript" src="/assets/page/{{__pageName}}.js"></script>
        <!--<script type="application/javascript" src="/assets/common/dialog.js"></script>-->
    </body>
</html>
